<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cureunity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cureunity.styles.css" asp-append-version="true" />
    <script src="~/scripts/jquery-1.11.1.min.js"></script>
    <script src="~/scripts/demos.js"></script>
    <script src="~/jqwidgets/jqxcore.elements.js"></script>
    <script src="~/jqwidgets/jqxcore.js"></script>
    <script src="~/jqwidgets/jqxdata.js"></script>
    <script src="~/jqwidgets/jqxdraw.js"></script>
    <script src="~/jqwidgets/jqxchart.annotations.js"></script>
    <script src="~/jqwidgets/jqxchart.api.js"></script>
    <script src="~/jqwidgets/jqxchart.core.js"></script>
    <script src="~/jqwidgets/jqxchart.rangeselector.js"></script>
    <script src="~/jqwidgets/jqxchart.waterfall.js"></script>
    <script src="~/jqwidgets/jqxchart.js"></script>
    <script src="~/jqwidgets/jqxbuttons.js"></script>
    <script src="~/jqwidgets/jqxlistbox.js"></script>
    <script src="~/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/jqwidgets/jqxdropdownlist.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cureunity</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Chat_Support">Customer Support</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
    // Replace 'YOUR_CHATBOT_ID' with your chatbot's ID or other identifier
    var chatbot = window.HubSpotConversations.widget && window.HubSpotConversations.widget.open;
    if (chatbot) {
    chatbot({ widgetId: '43979200' });
    }
    });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
