@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<h2 style="text-align:center">Bringing Health and Hope Together</h2>
<div class="container">
    <div class="row" style="background-color: rgb(0 164 189 / 80%) !important;color:white">
        <div class="col-md-6">
            <div class="my-3 p-3">
                <img src="~/lib/images/adobestock_171882033.jpeg" width="100%"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="my-3 p-3 ">
                At Cure Unity, we believe that access to essential medications is a fundamental right. Our mission is 
                to bridge the gap between those who have surplus medicines
                and those who need them most. We strive to create a world where no one has to go without the life-saving drugs they require.
                <br />
                <b>Medicine for All:</b> We provide a platform for individuals, healthcare facilities, and pharmaceutical companies to donate unused and unexpired medications to those in need.
                <br />
                <b>Empowering Lives:</b>  We empower people to make a difference by connecting donors with recipients, ensuring that no medicine goes to waste.
                <br />
                <b>Community Strength:</b> Together, we can build a community that fosters health, well-being, and compassion for one another.
            </div>
        </div>
    </div>
</div>
